@{
    ViewData["Title"] = "Password changed";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-6 text-center">
        <h2 class="mb-4">Password changed</h2>
        <p>Your password has been successfully updated. You can now sign in with your new password.</p>
        <a asp-action="Login" class="btn btn-primary mt-3">Go to sign in</a>
    </div>
</div>

