@model TodoListApp.WebApp.ViewModels.RestorePasswordViewModel
@{
    ViewData["Title"] = "Restore password";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <h2 class="mb-4 text-center">Restore password</h2>
        <form asp-action="RestorePassword" method="post">
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary w-100">Restore password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

